<form method="post" action="/drink/<%= @drink.id %>">
  <input type="hidden" name="_method" value="put">
  <p>
    Edit.
  </p>
  <p>
    <label for="booze">Booze:</label>
    <input type="text" name="booze" id="booze" value= <%= @drink.booze%>>
  </p>
  <p>
    <label for="mixer">Mixer:</label>
    <input type="text" name="mixer" id="mixer" value= <%= @drink.mixer%>>
  </p>
  <p>
    <label for="glass">Glass:</label>
    <input type="glass" name="glass" id="glass" value= <%= @drink.glass%>>
  </p>
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value= <%= @drink.name%>>
  </p>
  <p>
    <button type="submit">Edit Your Drink!</button>
  </p>
</form>