
	<p>  
    <%= @drink.name%>  
  </p> 
  <p>  
    <%= @drink.booze %>  
  </p>  
  <p>  
    <%= @drink.mixer %> 
  </p> 
  <p>  
    <%= @drink.glass%>  
  </p> 
  <p>
    <a href="/drinks/new">Add A New Drink</a>
  </p>
  <p>
    <a href="/drinks">See All Drinks</a>
  </p>

  <p>
    <a href="/drink/<%= @drink.id %>/edit">Edit This Drink</a>
  </p>
  


