<style>
.guest {
  font-size: 50 ;
  font-weight: bold;
  padding-left: 70px;
}

.box {
  width:150px;
  height:50px;
  border:1px solid black;
  font-size: 20 ;
  font-weight:bold;
  text-align:center;


}

td, th {
  word-spacing: 10 em;
  text-align: left;
}


</style>
<div class="guest">
  <p>  
    <%= @guest.first_name%>  <%= @guest.last_name %>  
  </p>
</div>


<div class="box">
  <p>
    Orders
  </p>
</div>

<table>
    <thead>
      <tr>
        <th width="30%">Drink Name</th>
        <th width="37%">QTY</th>
        <th width="15%">     +     </th>
        <th width="15%">     /    </th>
        <th width="15%">     -    </th>


      </tr>
    </thead>
<table>

  <table>

    <tbody>
  <tr>
    <hr></hr>
    <% @guest.orders.each do |order| %>

      <td width="9%"><%= order.drink.name %></td>
      
      <td width="6%"><%= order.quantity %></td>

      <td width="4%">
        <form action="/orders/<%= @guest.id %>/<%= order.drink.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="order.drink.id" value= <%= order.quantity%>>  
        <input type="submit" value="Reorder">  
        </form>
      </td>  


      <td width="25%">
        <form action="/orders/<%= @guest.id %>/<%= order.drink.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="order.drink.id" value= <%= order.quantity%>>  
        <input type="submit" value="Void">  
        </form>
      </td>  
      <td width="50%">
  </tr>

    <% end %>
  </tbody>
  </table>

<div class="box">
  <p>
    Drinks
  </p>
</div>
  <dl>
    <% @drinks.each do |drink| %>
        <%= drink.name %>
        <dd><form action="/orders/<%= @guest.id %>/<%= drink.id %>" method="post">
        <input type="hidden" name="_method" value="put">
              <input type="hidden" name="drink_id" value= <%= drink.id%>>  
              <input type="submit" value="Order">  
       </form> </dd>
     </dt>
  <% end %>
</dl>

<p>
  <a href="/guests/new">Add A New Guest</a>
</p>
<p>
  <a href="/guests">See All Guests</a>
</p>

<p>
  <a href="/guest/<%= @guest.id %>/edit">Edit This Guest</a>
</p>

<form action="/guest/<%= @guest.id %>" method="post">  
<input type="hidden" name="_method" value="delete">  
<input type="submit" value="Delete This Guest!">  
</form>