<p>  
  <%= @guest.first_name%>  
</p> 
<p>  
  <%= @guest.last_name %>  
</p>
<p>
  Add A Drink To The Guest
  <ul>
  <% @drinks.each do |drink| %>
    <li>
      <%= drink.name %> - <%= drink.booze %> - 
      <%= drink.mixer %> - <%= drink.glass %>
     <form action="/guest/<%= @guest.id %>" method="post">
      <input type="hidden" name="_method" value="put">
	    <input type="hidden" name="drink_id" value= <%= drink.id%>>  
	    <input type="submit" value="Yes, Add this drink!">  
    </form>  
    </li>
  <% end %>
 </ul>
</p> 
<p>ORDERS
  <ul>
    <% @guest.orders.each do |order| %>
    <li>
      <%= order.drink.name %>
      <%= order.quantity %>
    </li>
      <form action="/orders/<%= @guest.id %>/<%= drink.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="drink" value= <%= drink %>>  
        <input type="submit" value="Order">  
       </form>  
    </li>
  <% end %>
 </ul>
</p>

<p>
  <a href="/guests/new">Add A New Guest</a>
</p>
<p>
  <a href="/guests">See All Guests</a>
</p>

<p>
  <a href="/guest/<%= @guest.id %>/edit">Edit This Guest</a>
</p>
<p>
  <a href="/guest/<%= @guest.id %>/delete">Delete This Guest</a>
</p>